{% extends 'base2.html'%}
{% load static %}
{% block content %}

<html>
  <head>
    <meta charset="utf-8">
    <title> Cartes interactives pour les applications Web Django </title>
       <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
      <!-- Make sure you put this AFTER Leaflet's CSS -->
      <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
       <style type="text/css">
         #mapid { height: 100vh; }
       </style>
  </head>
  <body>
    <form method="post" >
      {% csrf_token %}
      <input type="text" name = "latitude" placeholder="latitude">
      <input type="text" name = "longitude" placeholder="longitude">
      <select name = "zone" required>
        {% for zone in zones %}
          <option value="{{zone.id}}">{{zone}}</option>
        {% endfor %}
      </select>
      <button>Enregistrer</button>
    </form>
   <div id="mapid"></div>
   </body>
 </html>

 <script type="text/javascript">
   var mymap = L.map('mapid').setView([	-5.547099500000002, 7.5468545], 5);
 
   

L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYXRncml1anVyZiIsImEiOiJja3J3b3UycTQwaWp1MnVuOHRuaTNjczlsIn0.bwr6oDWoTnTlnMF_MKHg2w', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
}).addTo(mymap);

   navigator.geolocation.getCurrentPosition(function (position) {
      let coords = position.coords;
      var redIcon = L.icon({iconUrl: "{% static 'img/bxs-map.svg' %}" })
      var marker = L.marker(
        [coords.latitude, coords.longitude],
        { icon: redIcon, iconSize: [15, 15] }
      ) 
      .addTo(mymap);
    });
	{% for pt in points %}
      L.marker({{pt}}).addTo(mymap);
      
	{% endfor %}
  console.log({{points}}, "zoma")
	mymap.fitBounds({{points}})
 </script>
{% endblock %}