{% extends 'base3.html'%}
{% block content %}
{% load static %}









   <section class="main-content">

            <div class="row">
               
                 <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-default">
                            Jsgrid Table
                        </div>
                        <div class="card-body">
                          
							<div id="jsGrid"></div>

                         </div>
                    </div>
                </div>
            </div>
            
            











{% block content %}