{% extends 'base.html' %}
{%load static%}

{% block title %} connexion {% endblock %}

{% block bootstrap_cdn %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="maintenance.css">
{% endblock bootstrap_cdn %}

{% block nav_bar %}{% endblock nav_bar %}

{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="{{ message.tags }}"><strong>{{message.tags}}</strong></div>
    {% endfor %}
    {% endif %}


    
    <div class="row mr-5" style="margin: 150px auto;">
    <form method="POST" class="col-md-6 offset-md-1"  style="">
    {% csrf_token %}
        <div class="card bg-light mt-5" style="height:98%;margin-right: 44px;">
            <div class="col-md-12 mt-3" style="height:110%;">
                <div class="card-header text-center">
                    <h3  class="fas fa-user"> connexion </h3>
                </div>   
                <div class="card-body">
                    <div class="form-group">
                        <input type="text" placeholder="Nom utilisateur" name='username' class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="mot de passe" name='pwd'class='form-control'>
                    </div>
                </div>
                <div class="card footer">
                    <button class='btn btn-primary btn-app'>se connecter</button>
                </div>
            </div>
                
        </div>
        
    </form>
    </div>
</div>
 {% endblock %}